<!-- Jumbotron -->
<div class="card card-image full-view bg " style="background-image: url(assets/10.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
   
      <h1 class="orange-text"><i class="fa fa-camera-retro fa-1x"></i> FILMY HOMEPAGE</h1>
      <h2><cite> "The timeline of eternity"<cite></h2>
      <BR>

       <%= link_to "Sign up now!", signup_path, class: "btn btn-1" %>

    </div>
  </div>
</div>
<!-- Jumbotron -->